@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

body {
    margin: 0;
    padding: 0;
}

.lovers-quarrel-regular {
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
    min-height: 100vh;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mariage-info {
    width: 65%;
    margin: 10px;
    padding: 20px;
}

.mariage-photo {
    width: 30%;
    margin: 10px;
    padding: 20px;
    border-radius: 10rem;
}

.mariage-photo img {
    border-radius: 50%;
}


.container div {
    width: 80%;
    margin: 10px;
    padding: 20px;
}


h1 {
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 12rem;
    text-align: center;

}


p {
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    text-align: left;
}

a:link {
    color: #690c6c;
    text-decoration: underline;
}

a:active {
    color: #ac1bb1;
    text-decoration: underline;
}

a:visited {
    color: #106110;
    text-decoration: underline;
}

a:hover {
    color: #ac1bb1;
    text-decoration: none;
}