@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

body {
    margin: 0;
    padding: 0;
}

.lovers-quarrel-regular {
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
    min-height: 100vh;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mariage-photo {
    text-align: center;
}


.mariage-photo img {
    border-radius: 50%;
}

@media only screen and (max-width: 1000px) {

    .container div {
        width: 100%;
        margin: 5px;
        padding: 5px;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mariage-info {
        width: 96%;
        padding: 10px;
    }

    .mariage-photo {
        width: 96%;
        order: -1;
    }
}

@media only screen and (min-width: 1000px) {

    .container div {
        width: 80%;
        margin: 5px;
        padding: 5px;
        justify-content: space-between;
    }

    .container2 {
        width: 96%;
        display: flex;
        flex-direction: row;
        align-items: center;

    }


}




h1 {
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    text-align: center;

}


p {
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    text-align: left;
    margin: 10px;
    padding: 10px;
}

a:link {
    color: #690c6c;
    text-decoration: underline;
}

a:active {
    color: #ac1bb1;
    text-decoration: underline;
}

a:visited {
    color: #106110;
    text-decoration: underline;
}

a:hover {
    color: #ac1bb1;
    text-decoration: none;
}