@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

body {
    margin: 0;
    padding: 0;
}

.lovers-quarrel-regular {
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    background-color: #fbfbfb;
    min-height: 100vh;
}

.container div {
    width: 80%;
    margin: 10px;
    padding: 20px;
}


h1 {
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 12rem;
    text-align: center;

}