@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

body {
  font-size: 16px!important;
}

video {
  padding-top: 5px;
  padding-bottom: 10px;
}

.img_moovies {
  overflow: hidden;
  max-height: 19rem;
  margin-bottom: 1rem !important;
}

.tags {
  font-weight: 600;
}
.tags a:hover {
    color: white;
}

.role {
  text-align: center;
  color: #444;
}

.title{
  font-size: .9em !important;
}

.date {
  color: #444;
  font-size: 1.1em;
}

.pubs_li {
  font-size: 1.05em;
  padding-top: 10px;
}

.anchor {
   position: relative;
}

.anchor span {
   position: absolute;
   top: -78px;
}

.mysticky {
  display: block;
  position: fixed;
  top: 52px;
}

.navbar-icon {
  font-size: 1.4em;
}

pre {
    padding: 8px !important;
    margin: 0 0 10px;
    line-height: 1.42857143;
    background-color: #2d2d2d !important;
    border: 2px solid #2d2d2d !important;
    border-radius: 7px !important;
}

kbd {
    background-color: #272822 !important;
}

pre > code {
    font-family: "Fira Code";
}

#map {
  height: 350px;
  width: 90%;
  float: center;
  display: inline-block;
  background-color:black;
  margin: 10px 10px 10px 10px;
 }

blockquote {
  font-size: 1.05em !important;
}

.books {
  border-radius: 12px;
  border-style: solid;
  border-color: #e7e7e7;
  padding: 6px;
  margin: 6px;
}

.books h1, h2, h3, p {
  padding: 0px;
  margin: 0px;
}

.books h1 {
  font-size: 1.6em;
  padding: 0px;
  margin-bottom: 6px;
}

.books h2 {
  font-size: 1.25em;
  padding: 0px;
  margin-bottom: 3px;
}

.twitter-tweet-rendered {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
