.books {
  padding: 12px;
}

.books h1,.books h2, .books h3, .books p {
  padding: 0px;
  margin: 0px;
}

.books h1 {
  font-size: 1.6em;
  padding: 0px;
  margin-bottom: 6px;
}

.books h2 {
  font-size: 1.25em;
  padding: 0px;
  margin-bottom: 3px;
}

.ctn-movie, .ctn-book {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.ctn-book {
  margin-top: 1vh;
  border: solid;
  padding: 6px;
  border-radius: 12px;
  border-style: solid;
  border-color: #e7e7e7;
}

.ctt-book-img {
  width: 16%;
}
.ctt-book-content {
  width: 80%;
}

.twitter-tweet-rendered {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.mg-bot {
  margin: 7px;
}

.avatar {
  width: 30vh;
}

.ctn-news, .ctn-twitter {
  display: block;
  width: 50%;
}

.software-mozaic {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  width: 100%;
}

.software-mozaic-unit {
  width: 46%;
  padding: 12px;
}

@media screen and (max-width: 800px) {
  .software-mozaic-unit {
    width: 100%;
  }
}