img, iframe, video {
  max-width: 100%;
  margin: 1rem 0rem 1rem 0rem;
}

.mission {
  font-family: "AMA";
  text-align: center;
}

.mission h2 {
  font-size: 1.8rem;
  color: #b95821;
	margin-top: .6rem;
	margin-bottom: .6rem;
}

.mission h3 {
  font-size: 1.4rem;
}

#title-home {
  font-family: "AMA";
  text-align: center;
  font-size: 3.2rem;
	margin-top: .1rem;
}

.pubs li {
  margin-bottom: .4rem;
}

.books {
  padding: 0px;
}

.books h1 {
  font-size: 2.4rem;
  padding: 0rem;
  margin-bottom: 0rem;
}

.books h2 {
  font-size: 1.25rem;
  padding: 0px;
  margin-bottom: .2rem;
}

.books h3 {
  margin-top: .4rem;
  margin-bottom: .6rem;
}

 .books h4, .books h5 {
  margin-bottom: .4rem;
  margin-top: .2rem;
}

.ctn-movie, .ctn-book, .ctn-home {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
}

.ctn-home-half {
  display: block;
  width: 40%;
}

.ctn-home-bighalf {
  display: block;
  width: 59%;
}

.ctn-home-bighalf h3, .ctn-home-half h3 {
	margin-bottom: .2rem;
	margin-top: .2rem;
}

.ctn-home-smallhalf {
  display: block;
  width: 30%;
}

.ctn-book {
  margin-top: 1vh;
  border: solid;
  padding: .4rem;
  border-radius: .6rem;
  border-style: solid;
  border-color: #d5ba9c;
}

.ctt-book-img {
  width: 14%;
}
.ctt-book-content {
  width: 80%;
}

.twitter-tweet-rendered {
	margin:auto;
}

.mg-bot {
  margin: 0.4rem;
}

.avatar {
  width: 100%;
}

#map, .frame1 {
  border: 10px solid;
  /* border-image-source: linear-gradient(45deg, #b95821, #b95821; */
  /* border-image-slice: 1; */
}

.frame2 {
  border: 6px solid;
}

.flexstart {
  align-items: flex-start;
}

.home-main {
  padding: 3%;
}

.mozaic {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  align-items: center;
}


.software-mozaic {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  width: 100%;
}

.software-mozaic-unit {
  width: 46%;
  padding: 12px;
}


@media screen and (max-width: 1200px) {
  .ctn-home-half, .ctn-home-bighalf, .ctn-home-smallhalf {
    width: 100%;
    margin-bottom: 2vh;
  }
  .software-mozaic-unit {
    width: 100%;
  }
  .mozaic-element {
    width: 100% !important;
  }
}