/* h1-h5 main */
.main_pages, .menu a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta { text-align: center; }
.title { font-size: 1.1em; }



#map {
  height: 350px;
  width: 98%;
  float: center;
  display: inline-block;
  background-color:black;
  margin: 10px 10px 10px 10px;
 }

 #map_collaborators {
   height: 400px;
   width: 600px;
   float: center;
   display: inline-block;
   background-color:black;
   margin: 10px 10px 10px 10px;
  }


.role {
  text-align: center;
  color: #555;
}
