{{ partial "christmas_header" . }}

<div class="boules"></div>

<br>

<h1>Noel 2019</h1>

<p id="days"> </p>

<script src="../../../js/snow.js"></script>


<br><br>

<div class="">

</div>

<br>


<h3>~20h30 &ndash; Arrivée de nos invité.e.s tant attendu.e.s </h3>

<br>

<h2>Mettons-nous en bouche</h2>
<ul>
  {{ range $.Site.Data.repas.entree }}
  <li>
    <a href="{{ .url }}">{{ .name }}</a>
  </li>
  {{ end }}
</ul>


<br><br>

<h3>~22h00 &ndash; Arrivée d'un invité très spécial... hohoho!</h3>

<br>

<h2>Passons aux choses sérieuses</h2>
<ul>
  {{ range $.Site.Data.repas.principal }}
  <li>
    <a href="{{ .url }}">{{ .name }}</a>
  </li>
  {{ end }}
</ul>


<br><br>

<h3>Échange de cadeaux accompagné d'un vin chaud</h3>

<br><br>

<h2>Soyons gourmants</h2>
<ul>
  {{ range $.Site.Data.repas.dessert }}
  <li>
    <a href="{{ .url }}">{{ .name }}</a>
  </li>
  {{ end }}
</ul>



<div class="spacing_snowbg"> <br>


<div class="snowbg"></div>
