{{ define "main" }}

  <div class="article-meta">
    <h1 id="title">{{ .Title | markdownify }}</h1>
  </div>

  <div class="article-main">
    {{ .Content }}
 
    <br>

<h2>Workshop presentations</h2>
<ul>
  {{ range .Site.Data.teaching.workshop }}
  <li class="pubs_li">
    <!-- authors -->
    {{ $letk := "Kevin" | truncate 1 "." }}
    {{ $len := len .author }}
    {{ $len2 := sub $len 1 }}
    {{ range $i, $e := .author}}
    {{ $let := .given | truncate 1 "." }}
    {{ if (and (eq .family "Cazelles") (eq $let $letk)) }}
    <b><span style="color: #b95821;">
        {{ .family }} {{ $let }}</span></b>{{ if eq $len2 $i }}.{{ else }},{{ end }}
    {{ else }}
    {{ .family }} {{ $let }}{{ if eq $len2 $i }}{{ else }},{{ end }}
    {{ end }}
    {{ end }}
    <!-- END authors -->
    <b> {{ .title }}. </b>
    <!-- conf -->
    {{ range .workshop }}
    {{ .name }} &ndash; {{ dateFormat "06/01/2006" .date }}. {{ .where }}.
    {{ end }}
    <!-- END conf -->
    <!-- external links -->
    {{ partial "links-icons.html" . }}
    <!-- END external links -->
    <em>{{ .description }}
      {{ if .lang }}
      ({{ .lang }}).
      {{ end }}
    </em>
  </li>
  {{ end }}
</ul>

<br>

<h2>R tutorials</h2>
<p>Below are tutorial presentations about <a href="https://www.r-project.org/">R</a> that I offered on several opportunities </p>
<ul>
  {{ range .Site.Data.teaching.tutoR }}
  <li class="pubs_li">
    <b> {{ .title }}. </b>
    <!-- conf -->
    {{ range .workshop }}
    <a href="{{ .url }}"> {{ .name }} </a> {{ dateFormat "01/2006" .date }}. {{ .where }}.
    {{ end }}
    <!-- END conf -->
    <!-- external links -->
    {{ partial "links-icons.html" . }}
    <!-- END external links -->
    <em>{{ .description }}{{ if .lang }}({{ .lang }}).{{ end }}
    </em>
  </li>
  {{ end }}
</ul>


<br>

<h2>Teaching material</h2>
<p>Below are the teaching resources I contributed to develop.</p>
<ul>
  {{ range .Site.Data.teaching.resource }}
  <li class="pubs_li">
    <!-- authors -->
    {{ $letk := "Kevin" | truncate 1 "." }}
    {{ $len := len .author }}
    {{ $len2 := sub $len 1 }}
    {{ range $i, $e := .author}}
    {{ $let := .given | truncate 1 "." }}
    {{ if (and (eq .family "Cazelles") (eq $let $letk)) }}
    <b><span style="color: #b95821;">
        {{ .family }} {{ $let }}</span></b>{{ if eq $len2 $i }}.{{ else }},{{ end }}
    {{ else }}
    {{ .family }} {{ $let }}{{ if eq $len2 $i }}{{ else }},{{ end }}
    {{ end }}
    {{ end }}
    <b> {{ .title }} </b> ({{ .category }}).
    <!-- conf -->
    {{ range .workshop }}
    <a href="{{ .url }}"> {{ .name }} </a> {{ dateFormat "01/2006" .date }}. {{ .where }}.
    {{ end }}
    <!-- END conf -->
    {{ partial "links-icons.html" . }}
    <!-- END external links -->
    <em>{{ .description }}
      {{ if .lang }}
      ({{ .lang }}).
      {{ end }}
    </em>
  </li>
  {{ end }}
</ul>

</div>

{{ end }}
