<h1><i class="fa fa-comment-o" aria-hidden="true"></i>
  About me
</h1><hr>

<div style="text-align:justify">
  {{ .Content }}
</div>

<br><br>


<h1><i class="fa fa-graduation-cap" aria-hidden="true"></i>
  Background
</h1><hr>

{{ range .Site.Data.educ.educs}}
 <h4>
  <span class="date">{{ .year }}</span>
  <span class="large"><b>{{ .course}}</b></span>
  {{ range .institution }}
    <a href="{{ .url }}"> {{ .name }} </a>
  {{ end }}
 </h4>
{{ end }}

<br>
<h4><span class="large"><b>Curriculum Vitae</b></span></h4>

{{ range .Site.Data.educ.curiculum}}
 <h4>
  &nbsp;&nbsp;<span class="date">{{ .lang }}</span>
  <a href = "{{.pdf}}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
  <a href = "{{.zip}}"><i class="fa fa-file-archive-o" aria-hidden="true"></i></a>
 </h4>
{{ end }}

<br><br>


<h1><i class="fa fa-gears" aria-hidden="true"></i>
  Skills
</h1><hr>


<br><br>


<h1><i class="fa fa-newspaper-o" aria-hidden="true"></i>
  Press
</h1><hr>
