 {{ with .OutputFormats.Get "RSS" }}
<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
<link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{ end }}


{{ if .Site.GoogleAnalytics }}
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments)
  };
  gtag('js', new Date());
  gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>
{{ end }}


<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }}

{{ $hjsversion := .Site.Params.highlight_version | default "9.15.2" }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $hjsversion }}/highlight.min.js"></script>

{{ range .Site.Params.highlight_languages }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $hjsversion }}/languages//{{ . }}.min.js"></script>
{{ end }}

<script>
  hljs.initHighlightingOnLoad();
</script>

<!-- css -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $hjsversion }}/styles/{{ .Site.Params.highlight_style | default "default" }}.min.css">

{{ end }}


<!-- MathJax see https://docs.mathjax.org/en/latest/start.html -->
{{ if .Site.Params.mathjax | default false }}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: false,
    }
    });
    </script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/latest.js?config=TeX-MML-AM_CHTML' async></script>
{{end}}


<!-- Leaflet https://leafletjs.com/examples/quick-start/ -->
{{ if .Site.Params.leaflet | default false }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
{{ end }}
