<div class="books">
{{ range $index := (seq 2021 2018) }}

  <h1>{{ $index }}</h1>

  {{ range $.Site.Data.books.books }}

    {{ if eq .year $index }}

      <div class="ctn-book">
        <div class="ctt-book-img">
          <img src="{{ .url_img }}" alt="{{ .title }}" width = "100%">
        </div>

        <div class="ctt-book-content">
          <h3>{{.title}}</h3>
          <h4>
          <i class="fas fa-user-tie"></i>&nbsp;
          {{ .author }}
          </h4>

          {{ if .type }}
            <i class="fas fa-tag"></i>&nbsp;
            {{ .type }}
            <br>
          {{ end }}

          {{ with .info }}
            <i class="fas fa-info-circle"></i>&nbsp;
            <a href="{{ .url }}"> {{ .name }} </a>
            <br>
          {{ end }}

          {{ if .comments }}
            <i class="far fa-comment"></i>&nbsp;
            {{ .comments | markdownify }}
          {{ end }}

        </div>

      </div>

    {{ end }}

  {{ end }}

{{ end }}
</div>

