{{ range $index := (seq 2020 2018) }}

<h2> {{ $index }} </h2>

<div class="row">

  {{ range $.Site.Data.movies.movies }}


  {{ if eq .year $index }}


  <div class="col-xs-4 col-sm-3 col-md-2 img_moovies">

      <a href="https://www.rottentomatoes.com/{{ .roto }}">
        <img src="{{ .url_img }}" alt="{{ .title }}" style="max-height: 200px; padding: 1px;">
      </a>
      <!-- <h4></span><i class="fa fa-user" aria-hidden="true"></i> {{ .director }}
        <br></h4>
      <h4><i class="fa fa-calendar" aria-hidden="true"></i> {{ .yearout }}</h4> -->
  </div>

  {{ end }}

  {{ end }}

</div>


<br>


{{ end }}
